<a href="https://colab.research.google.com/github/Ashish-17CSE/Hate_Speech_Detection/blob/main/Hate_Speech_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Upload Data

In [ ]:
# Upload the train.csv and val.csv file from your local drive
from google.colab import files
uploaded = files.upload()

Saving dev_3k_split_conll.txt to dev_3k_split_conll.txt
Saving Hindi_test_unalbelled_conll_updated.txt to Hindi_test_unalbelled_conll_updated.txt
Saving test_labels_hinglish.txt to test_labels_hinglish.txt
Saving train_14k_split_conll .txt to train_14k_split_conll .txt

In [ ]:
dataset = '/content/dev_3k_split_conll.txt'

def read_conll(in_file, lowercase=False, max_example=None):
    data = []
    with open(in_file) as f:
        words, lang = [], []
        id = "";
        label = "";
        for line in f.readlines():
            sp = line.strip().split('\t')
            if sp[0]=="meta" and len(sp)>2:
              vc = {"id":id,"label":label,"words":words,"lang":lang}
              data.append(vc);
              words,lang = [],[]
              id = sp[1]
              label = sp[2]
            elif len(sp)>1:
              words.append(sp[0])
              lang.append(sp[1])
        vc = {"id":id,"label":label,"words":words,"lang":lang}
        data.append(vc);
    return data 

MyData = read_conll(dataset)[1:];
print(MyData)

In [37]:
import pandas as pd

In [38]:
def read_conll(in_file, lowercase=False, max_example=None):
    data = []
    with open(in_file) as f:
        words, lang = [], []
        id = "";
        label = "";
        for line in f.readlines():
            sp = line.strip().split('\t')
            if sp[0]=="meta" and len(sp)>2:
              vc = {"id":id,"label":label,"words":words,"lang":lang}
              data.append(vc);
              words,lang = [],[]
              id = sp[1]
              label = sp[2]
            elif len(sp)>1:
              words.append(sp[0])
              lang.append(sp[1])
        vc = {"id":id,"label":label,"words":words,"lang":lang}
        data.append(vc);
    return data

In [39]:
#convert to sentances

def read_conll(in_file, lowercase=False, max_example=None):
    data = []
    with open(in_file) as f:
        words = " "
        id = "";
        label = "";
        for line in f.readlines():
            sp = line.strip().split('\t')
            if sp[0]=="meta" and len(sp)>2:
              vc = {"id":id,"label":label,"tweet":words}
              data.append(vc);
              words = " "
              id = sp[1]
              label = sp[2]
            elif len(sp)>1:
              if sp[1]!="O":
                words = words + sp[0] +" " #+"("+sp[1]+") "
        vc = {"id":id,"label":label,"tweet":words}
        data.append(vc);
    return data

In [ ]:
#Merge test labels and tweets
'''
 Me Rajendra hu
 Hin Eng     Hin

 Me Rajendra Hu(Hin)
'''

def read_conll_test(in_file, lowercase=False, max_example=None):
    data = []
    with open(in_file) as f:
        words = " "
        id = "";
        label = "";
        for line in f.readlines():
            print(line)
            sp = line.strip().split('\t')
            if sp[0]=="meta":
              vc = {"id":id,"tweet":words}
              data.append(vc);
              words = " "
              id = sp[1]
            elif len(sp)>1:
              if sp[1]!="O":
                words = words + sp[0] +" " # +"("+sp[1]+") "
        vc = {"id":id,"tweet":words}
        data.append(vc);
    return data 

dataset = "/content/Hindi_test_unalbelled_conll_updated.txt"
test = read_conll_test(dataset)[1:]
test = pd.DataFrame(test)
test.head()

In [45]:
labels = pd.read_csv("/content/test_labels_hinglish.txt")
labels = pd.DataFrame(labels)
labels.columns=["id","label"] 
labels['id']=labels['id'].astype(str)
labels.head()

      id     label
0  20803   neutral
1  20187   neutral
2  20953   neutral
3  13777  negative
4  20990  positive

In [46]:
print(test.dtypes)
print(labels.dtypes)

id       object
tweet    object
dtype: object
id       object
label    object
dtype: object

In [47]:
# test = pd.concat([test, labels], axis = 1)
test = pd.merge(test, labels, how='inner', on = 'id')
test.head()

      id                                              tweet     label
0  20803   454dkhan Heisunberg Agr kse ko itni important...   neutral
1  20187   logon ko alloo pyaz tomator me toh allah pak ...   neutral
2  20953   LambaAlka Wafadaar bane rahane ka nayab tarik...   neutral
3  13777   varnishant narendramodi Chup bhosdike He has ...  negative
4  20990   RT HardeepSPuri Praise the Great Giver who gi...  positive

In [ ]:
import pandas as pd
dataset1 = '/content/train.txt'
dataset2 = '/content/valid.txt'

train = read_conll(dataset1)[1:];
valid = read_conll(dataset2)[1:];
train = pd.DataFrame(train)
valid = pd.DataFrame(valid)

valid.head()

      id     label                                              tweet
0  30258  positive   prahladspatel modi mantrimandal may samil hon...
1  16648  negative   bkunalraj TajinderBagga NikhilJakhar14 JammuP...
2  28511  negative   waglenikhil U saw caste and religion in them ...
3  10466   neutral   DelhiPolice sir local police station pe compl...
4  19266  positive   Ve Maahi song from Kesari is current favourit...